<div>
  <h2>Zeitaufwand</h2>
  <p>Bisher augewendete zeit: 34 Stunden<br/>
    Durchschnittlich augewendete zeit: 123 Stunden</p>
  <h2>Diese Abschnitte hast du übersprungen:</h2>
  <a href="learning-path?t=1&cs=3-0-1&v=0&s=2"><p-button class="p-1" label="Grundlagen/HTML-Tags"></p-button></a>
  <h2>Diese Quizze solltest du nochmal wiederholen:</h2>
  <a href="learning-path?t=1&cs=3-0-0&v=7&s=0"><p-button class="p-1" label="Grundlagen/HTML-Grundlagen"></p-button></a>
  <a href="learning-path?t=1&cs=3-0-0&v=7&s=0"><p-button class="p-1" label="Lernziele"></p-button></a>
</div>
