<div class="w-full h-full flex flex-column justify-content-start">
  <div class="card flex justify-content-center">
    <p-chart type="doughnut" [data]="data" [options]="options" style="width: 300px; height: 300px;"></p-chart>
  </div>
  <div class="flex flex-column align-items-center justify-content-center">
    <p>61% der Studierenden haben mit dem Nächsten Abschnitt weiter gelernt</p>
    <a  *ngIf="this.step == '0'" href="learning-path?t=1&cs=3-0-1&v=0&s=2"><p-button label="Nächster Abschnitt" icon="pi pi-arrow-right" iconPos="right"></p-button></a>
    <a  *ngIf="this.step == '1'" href="learning-path?t=1&cs=3-0-1&v=3&s=0"><p-button label="Nächster Abschnitt" icon="pi pi-arrow-right" iconPos="right"></p-button></a>
    <p>20% der Studierenden haben diesen Abschnitt wiederholt</p>
    <a  *ngIf="this.step == '0'" href="learning-path?t=1&cs=3-0-0&v=0&s=0"><p-button styleClass="p-button-success" label="Wiederholen" icon="pi pi-arrow-right" iconPos="right"></p-button></a>
    <a  *ngIf="this.step == '1'" href="learning-path?t=1&cs=3-0-1&v=0&s=2"><p-button styleClass="p-button-success" label="Wiederholen" icon="pi pi-arrow-right" iconPos="right"></p-button></a>
    <p>10% der Studierenden haben mit dem Kapitel Backend-Technologien weiter gemacht</p>
    <a href="learning-path?t=1&cs=3-0-1&v=3&s=0"><p-button styleClass="p-button-help" label="CSS-Grundlagen" icon="pi pi-arrow-right" iconPos="right"></p-button></a>
    <p>9% der Studierenden haben mit dem Kapitel Struktur weiter gemacht</p>
    <a href="learning-path?t=1&cs=3-0-1&v=3&s=0"><p-button styleClass="p-button-warning" label="HTML-Struktur" icon="pi pi-arrow-right" iconPos="right"></p-button></a>
  </div>
  <div class="flex align-items-center justify-content-center">
  </div>
</div>
