<div class="w-full h-full flex flex-column justify-content-start">
  <div class="card flex justify-content-center">
    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
  </div>
  <div class="flex flex-column align-items-center justify-content-center">
    <p>61% der Studierenden haben mit dem Nächsten Abschnitt weiter gelernt</p>
    <p-button label="Nächster Abschnitt" icon="pi pi-arrow-right" iconPos="right"></p-button>
    <p>20% der Studierenden haben mit diesen Abschnitt wiederholt</p>
    <p-button styleClass="p-button-success" label="Wiederholen" icon="pi pi-arrow-right" iconPos="right"></p-button>
    <p>10% der Studierenden haben mit dem Kapitel Backend-Technologien weiter gemacht</p>
    <p-button styleClass="p-button-help" label="Backend-Technologien" icon="pi pi-arrow-right" iconPos="right"></p-button>
    <p>9% der Studierenden haben mit dem Kapitel Grundlagen weiter gemacht</p>
    <p-button styleClass="p-button-warning" label="Grundlagen" icon="pi pi-arrow-right" iconPos="right"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
  </div>
</div>
