<div class="pt-3">
  <p-table [value]="scenarios" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Link</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-scenario>
      <tr>
        <td>{{ scenario.id }}</td>
        <td>{{ scenario.title }}</td>
        <td>{{ scenario.description }}</td>
        <td><a class="no-underline text-primary" href="{{ '/scenario/' + scenario.id }}"><i class="pi pi-arrow-up-right"></i></a></td>
      </tr>
    </ng-template>
  </p-table>
</div>
