<div class="h-full">
  <div class="flex flex-row flex-wrap justify-content-between align-content-center">
    <div class="flex flex-column">
      <h2>Webtechnologien</h2>
    </div>
    <p-knob [(ngModel)]="progress" [readonly]="true" valueTemplate="{value}%" valueColor="green" rangeColor="lightgreen" [strokeWidth]="8" [size]="80"></p-knob>
  </div>
  <p-tabView [(activeIndex)]="activeTabIndex">
    <p-tabPanel header="Übersicht">
      <app-path-overview></app-path-overview>
    </p-tabPanel>
    <p-tabPanel header="Pfad">
      <app-path-steps></app-path-steps>
    </p-tabPanel>
    <p-tabPanel header="Fortschritt">
      <app-path-details></app-path-details>
    </p-tabPanel>
  </p-tabView>
</div>
