<div class="w-full h-full flex flex-column justify-content-start px-4">
  <h1 *ngIf="this.step == '0'">Wissenstest</h1>
  <h1 *ngIf="this.step == '1'">HTML-Grundlagen Quiz</h1>
  <h1 *ngIf="this.step == '2'">HTML-Tags Quiz</h1>
  <p *ngIf="this.step == '0'">Was weißt du bereits über HTML?</p>
  <p *ngIf="this.step != '0'">Um den Abschnitt abzuschließen, beantworte folgende Fragen:</p>
  <p>Beispielfrage</p>
  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center">
      <p-radioButton name="1" value="1" [(ngModel)]="ratinga" inputId="a1"></p-radioButton>
      <label for="a1" class="ml-2">A</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="1" value="2" [(ngModel)]="ratinga" inputId="a2"></p-radioButton>
      <label for="a2" class="ml-2">B</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="1" value="3" [(ngModel)]="ratinga" inputId="a3"></p-radioButton>
      <label for="a3" class="ml-2">C</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="1" value="4" [(ngModel)]="ratinga" inputId="a4"></p-radioButton>
      <label for="a4" class="ml-2">D</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="1" value="5" [(ngModel)]="ratinga" inputId="a5"></p-radioButton>
      <label for="a5" class="ml-2">E</label>
    </div>
  </div>

  <p>Beispielfrage</p>
  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center">
      <p-radioButton name="2" value="1" [(ngModel)]="ratingb" inputId="b1"></p-radioButton>
      <label for="b1" class="ml-2">A</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="2" value="2" [(ngModel)]="ratingb" inputId="b2"></p-radioButton>
      <label for="b2" class="ml-2">B</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="2" value="3" [(ngModel)]="ratingb" inputId="b3"></p-radioButton>
      <label for="b3" class="ml-2">C</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="2" value="4" [(ngModel)]="ratingb" inputId="b4"></p-radioButton>
      <label for="b4" class="ml-2">D</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="2" value="5" [(ngModel)]="ratingb" inputId="b5"></p-radioButton>
      <label for="b5" class="ml-2">E</label>
    </div>
  </div>

  <p>Beispielfrage</p>
  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center">
      <p-radioButton name="3" value="1" [(ngModel)]="ratingc" inputId="c1"></p-radioButton>
      <label for="c1" class="ml-2">A</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="3" value="2" [(ngModel)]="ratingc" inputId="c2"></p-radioButton>
      <label for="c2" class="ml-2">B</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="3" value="3" [(ngModel)]="ratingc" inputId="c3"></p-radioButton>
      <label for="c3" class="ml-2">C</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="3" value="4" [(ngModel)]="ratingc" inputId="c4"></p-radioButton>
      <label for="c4" class="ml-2">D</label>
    </div>
    <div class="flex align-items-center">
      <p-radioButton name="3" value="5" [(ngModel)]="ratingc" inputId="c5"></p-radioButton>
      <label for="c5" class="ml-2">E</label>
    </div>
  </div>
</div>
