<div class="px-5">
  <h1>Mache dort weiter, wo du aufgeört hast, {{this.showname}}!</h1>
  <p-tabView>
    <p-tabPanel header="Lernpfade">
      <div class="grid flex flex-row row-gap-2">
        <app-path-card class="col-3"></app-path-card>
        <app-path-card class="col-3"></app-path-card>
        <app-path-card class="col-3"></app-path-card>
        <app-path-card class="col-3"></app-path-card>
        <app-path-card class="col-3"></app-path-card>
        <app-path-card class="col-3"></app-path-card>
        <app-path-card class="col-3"></app-path-card>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Kurse">
    </p-tabPanel>
  </p-tabView>
</div>
