<div class="grid">
  <div class="col-10">
    <h1>Mache dort weiter, wo du aufgehört hast, {{this.showname}}!</h1>
    <p-tabView>
      <p-tabPanel header="Lernpfade">
        <div class="grid flex flex-row row-gap-2">
          <app-path-card class="col-12 md:col-6 lg:col-6"></app-path-card>
          <app-path-card class="col-12 md:col-6 lg:col-6"></app-path-card>
          <app-path-card class="col-12 md:col-6 lg:col-6"></app-path-card>
          <app-path-card class="col-12 md:col-6 lg:col-6"></app-path-card>
          <app-path-card class="col-12 md:col-6 lg:col-6"></app-path-card>
          <app-path-card class="col-12 md:col-6 lg:col-6"></app-path-card>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Kurse">
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="col-2">
    <app-activity-chart></app-activity-chart>
  </div>
</div>
