<div class="w-full h-full flex flex-column justify-content-start px-4">
  <h1>Struktur</h1>
  <p>Es stehen noch weitere Medien zur Verfügung, um zusätzlich tieferes Wissen zu erlangen.<br/>
    Möchtest du mit dem nächsten Abschnitt weiter machen oder die zusätzlichen Medien sehen?</p>
  <div class="flex flex-column align-items-center justify-content-center">
    <p-button class="mt-2" styleClass="p-button-success" label="zusätzliche Medien" icon="pi pi-arrow-right" iconPos="right"></p-button>
    <p-button class="mt-4" label="Nächster Abschnitt" icon="pi pi-arrow-right" iconPos="right"></p-button>
</div>
</div>
