<div class="w-full h-full flex flex-column justify-content-start">
  <div class="flex flex-column align-items-start justify-content-center px-5">
    <h1>Bootstrap</h1>
    <p>Für das Verständnis dieses Kapitels sind übersprungen Abschnitte hilfreich, hier kannst du zu ihnen springen:</p>
    <p-button class="p-1" label="Grundlagen/HTML"></p-button>
    <p-button class="p-1" label="Grundlagen/CSS"></p-button>
    <p>Ansonsten kannst du dem Pfad auch weiter folgen:</p>
    <p-button class="p-1"  label="Weiter" icon="pi pi-arrow-right" iconPos="right"></p-button>
  </div>
</div>
